*
!allocTimeBookstore.lp
!ExponentialRequests.py
!instructions.txt
!itemScript.sh
!customerItemScript.sh
!practice
!processLine.py
!requestScript.sh
!resolution.hs
!timingScript.sh
!RandomRequests.py
!.gitignore
