*
!allocTimeBookstore.lp
!ExponentialRequests.py
!instructions.txt
!itemScript.sh
!customerItemScript.sh
!practice
!processLine.py
!requestScript.sh
!timingScript.sh
!RandomRequests.py
!Resolution.hs
!CurrentTime.hs
!Facts.hs
!DataTypes.hs
!Program.hs
!.gitignore
